/* NAVBAR*/

.bg-color_navbar{
    background-color: #c1121f;
    color: #fff;
}
.nav-link, .navbar-tittle{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    
}
